<% form_tag :action => 'submit' do %>
<!--<form method="post" action="http://bioinfdev.cs.ucl.ac.uk/cgi-bin/psipred/psipred.cgi" enctype="x-www-form-urlencoded">-->

<table>
<tr>
	<td><h1>The PSIPRED Protein Structure Prediction Server</h1>
        </td>
</tr>
<tr>
	<td><p>The PSIPRED Protein Structure Prediction Server aggregates several of our structure prediction methods into one location. Users can submit a protein sequence, perform the prediction of their choice and receive the results of the prediction via e-mail. You may select one of three prediction methods to apply to your sequence:<br />PSIPRED - a highly accurate method for protein secondary structure prediction<br />MEMSAT and MEMSAT-SVM - our widely used transmembrane topology prediction method<br /> and one of GenTHREADER, pGenTHREADER and pDomTHREADER - sequence profile based fold recognition methods. <span class="content_link"><a href="http://bioinf.cs.ucl.ac.uk/index.php?id=779" target="_blank">More...</a></span></p>
			<p><b>For queries regarding PSIPRED:</b> <span class="content_link"><a href="mailto:psipred@cs.ucl.ac.uk">psipred@cs.ucl.ac.uk</a></span></p>
            
            <%= render :partial => "/layouts/warning_message" %>
            <%= pretty_error_messages_for :job %>
</td>
</tr>
<tr><td>&nbsp;
</td></tr>
<tr class="form_subtitle"><td><h4>Choose Prediction Method</h4></td></tr>
<tr><td>
    
      <% if @type =~ /psipred/ %><%= radio_button_tag(:program, "psipred", :checked => true) %><% else %><%= radio_button_tag(:program, "psipred" ) %><% end %>Predict Secondary Structure (PSIPRED v3.0)<br />
      <% if @type =~ /svmmemsat/ %><%= radio_button_tag(:program, "svmmemsat", :checked => true) %><% else %><%= radio_button_tag(:program, "svmmemsat") %><% end %>Predict Transmembrane Topology (MEMSAT3 & MEMSAT-SVM)<br />
      <% if @type =~ /mempack/ %><%= radio_button_tag(:program, "mempack", :checked => true)%><% else %><%= radio_button_tag(:program, "mempack")%><% end %>SVM Prediction of TM Topology and Helix Packing (MEMPACK)<br />
      <% if @type =~ /genthreader/ %><%= radio_button_tag(:program, "genthreader", :checked => true) %><% else %><%= radio_button_tag(:program, "genthreader") %><% end %>Fold Recognition (GenTHREADER - quick)<br />
      <% if @type =~ /mgenthreader/ %><%= radio_button_tag(:program, "mgenthreader", :checked => true) %><% else %><%= radio_button_tag(:program, "mgenthreader") %><% end %>Fold Recognition (pGenTHREADER - with profiles and predicted secondary structure)<br />
      <% if @type =~ /domthreader/ %><%= radio_button_tag(:program, "domthreader", :checked => true) %><% else %><%= radio_button_tag(:program, "domthreader") %><% end %>Fold Recognition (pDomTHREADER - annotates multiple domain on chains)<br />

                <span class="content_link"><a href="http://cms.cs.ucl.ac.uk/typo3/fileadmin/bioinf/PSIPRED/psipred_help.html#methods" target="_blank">Help...</a></span>
</td></tr>
<tr><td>&nbsp</td></tr>

<tr class="form_subtitle"><td><h4>Input Sequence (Single sequence or Multiple Sequence alignments;  as raw sequence or fasta format)</h4></td></tr>
<tr><td><% if @sequence.length > 0 %><%= text_area_tag(:sequence, "#{@sequence}", :size => "80x5", :onchange => "examineSequence();") %><% else %><%= text_area_tag(:sequence, "", :size => "80x5", :onchange => "examineSequence();") %><% end %><br />
<span class="content_link"><a href="http://cms.cs.ucl.ac.uk/typo3/fileadmin/bioinf/PSIPRED/psipred_help.html#sequence" target="_blank">Help...</a></span><br />If you wish to test these services follow this link to retrieve <span class="content_link"><a href="http://www.uniprot.org/uniprot/B0R5N9.fasta">a test fasta sequence.</a><br />
  You can now input Multiple Sequence Alignments in fasta format, please ensure sequences in the alignment are the same length.</span>
</td></tr>
<tr><td>&nbsp</td></tr>

<tr id="formthing" class="form_subtitle"><td><div id="filterSlideA"><h4>Filtering Options</h4></div></td></tr>
<tr id="filterSlideB"><td>
        <!-- For check box buttons make sure you include a hidden field with the alternative value, makes life easier when the job gets to the server -->
        <%= hidden_field_tag :complex, "false" %><%= check_box_tag(:complex, "true", :checked => true) %>Mask low complexity regions<br />
	<%= hidden_field_tag :membrane, "false" %><%= check_box_tag(:membrane, "true") %>Mask transmembrane helices<br />
	<%= hidden_field_tag :coil, "false" %><%= check_box_tag(:coil, "true") %>Mask coiled-coil regions<br />
	<span class="content_link"><a href="http://cms.cs.ucl.ac.uk/typo3/fileadmin/bioinf/PSIPRED/psipred_help.html#filter" target="_blank">Help...</a></span><br />
<b>Warning: No sequence filters are applied when running MEMSAT or MEMPACK</b><br />
</td></tr> 
<tr id="filterSlideC"><td>&nbsp</td></tr>
<tr id="formthingB" class="form_subtitle"><td><div id="msaSlideA"><h4>Multiple Sequence Alignment Options</h4></div></td></tr>
<tr id="msaSlideB"><td>
        <b>It looks like your input may be a multiple sequence alignment; Multiple alignment input is only available for PSIPRED, pGenTHREADER and pDomTHREADER</b><br />
        <%= radio_button_tag(:msa_control, "all", :checked => true) %>Find new close and distant relatives. Your input alignment contains only some of the possible homologues (most accurate calculation)<br />
        <%= radio_button_tag(:msa_control, "distant") %>Find new distant relatives. You are sure your input alignment contains all known close homologues<br />
        <%= radio_button_tag(:msa_control, "no") %>Find no relatives. You are sure your input alignment contains all known homologues (likely to be least accurate)<br />
        <span class="content_link"><a href="http://cms.cs.ucl.ac.uk/typo3/fileadmin/bioinf/PSIPRED/psipred_help.html#filter" target="_blank">Help...</a></span><br />
<b>Warning: These options only apply to multiple alignment input.</b><br />
</td></tr>
<tr id="msaSlideC"><td>&nbsp</td></tr>
<tr class="form_subtitle"><td><h4>Submission Details</h4></td></tr>
<tr><td>
     <!--<font color="red" size="+1">We regret to inform users that due to abuse of our services email addresses will temporarily be required to submit jobs. We hope to remedy the problem we're having and will attempt to return to normal service shortly.</font><br />-->
     Email Address for job completion alert (optional)<br />
    <% if @address.length > 0 %><%= text_field_tag :email, "#{@address}", {:size => 30, :class => "form_input"} %><% else %><%= text_field_tag :email, "", {:size => 30, :class => "form_input"} %><% end %><br />
     <span class="content_link"><a href="http://cms.cs.ucl.ac.uk/typo3/fileadmin/bioinf/PSIPRED/psipred_help.html#email" target="_blank">Help...</a></span><br /><br />

       Password (only required for licenced commercial e-mail addresses)<br />
    <%= text_field_tag :passwd,"" , {:size => 20, :class => "form_input"} %><br />
       <span class="content_link"><a href="http://cms.cs.ucl.ac.uk/typo3/fileadmin/bioinf/PSIPRED/psipred_help.html#password" target="_blank">Help...</a></span><br /><br />

      Short identifier for submission<br />
        <% if @subject.length > 0 %><%= text_field_tag :subject,"#{@subject}", {:size => 15, :class => "form_input"} %><% else %><%= text_field_tag :subject,"", {:size => 15, :class => "form_input"} %><% end %><br />
        <span class="content_link"><a href="http://cms.cs.ucl.ac.uk/typo3/fileadmin/bioinf/PSIPRED/psipred_help.html#identifier" target="_blank">Help...</a></span><br /><br />

        <!--Additionally email GenTHREADER, mGenTHREADER or domTHREADER html page for pretty printing?<br />
        <%= radio_button_tag(:gen_email, "YES") %>Yes &nbsp; <%= radio_button_tag(:gen_email, "NO", :checked => true) %>NO<br /><br />-->

        <!--<font color="red" size="+1">We would like to improve these services.<br /> If you have 5 minutes spare please follow this link to<br /> <a href="http://www.surveymonkey.com/s/DGJQVCC" target="_blank">answer this short survey about how you use our services</a></font><br /><br />-->
        <%= submit_tag "Predict", :class => "form_input" %>&nbsp;<input class="form_input"  type="reset" value="Clear form">

</td></tr>
</table>
<% end %>

<hr />

<%= render :partial => "/layouts/aup" %>
<p>The PSIPRED Team.</p>
<h4>Current Contributors</h4><p>David T. Jones, Daniel Buchan, Sean Ward, Anna Lobley, Tim Nugent & Kevin Bryson</p>
<h4>Previous Contributors</h4><p>Liam J. McGuffin</p>
<%= render :partial => "/layouts/google_analytics" %>
