<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div style="background: <%= cycle(bgcolor,'#fff') %>; padding: 4px;">
  <strong><%= image.status %>:</strong><br>
<% if !image.thumbnails.first.nil? %>
  <a href="<%= url_for(:controller => "bio_serf", :action => "getresultattached", :id => image.id) %>"><img style="border: 1px;" src="<%= url_for(:controller => "bio_serf", :action => "getthumbnail", :id => image.thumbnails.first.id) %>" /></a>
<% else %>
    <a href="<%= url_for(:controller => "bio_serf", :action => "getresultattached", :id => image.id) %>"><img style="border: 1px;" src="<%= url_for(:controller => "bio_serf", :action => "getresultattached", :id => image.id) %>" /></a>
  <% end %>
</div>