<% if @domain_ids.chainId2DomainIdsRecord.instance_of?(Array) %>
  <% for datum in @domain_ids.chainId2DomainIdsRecord %>
    <% domain = datum.domain_id %>
    <%  @funcatdata = @funcat_data[domain]
    @uniprotdata = @uniprot_data[domain]
    @korthodata = @kortho_data[domain]
    @kpathwaydata = @kpathway_data[domain] %>
    <h2>CATH DOMAIN : <a href="http://www.cathdb.info/domain/<%= domain %>"><%= domain %></a></h2>
  <%= render :partial => 'layouts/function_tables', :locals => {:bgcolor => "#ccc"} %>
  <% end %>
<% else %>
  <% domain = @domain_ids.chainId2DomainIdsRecord.domain_id %>
  <%  @funcatdata = @funcat_data[domain]
    @uniprotdata = @uniprot_data[domain]
    @korthodata = @kortho_data[domain]
    @kpathwaydata = @kpathway_data[domain] %>
    <h2>CATH DOMAIN : <a href="http://www.cathdb.info/domain/<%= domain %>"><%= domain %></a></h2>
  <%= render :partial => 'layouts/function_tables', :locals => {:bgcolor => "#ccc"} %>
<% end %>