<% if @configuration.errors.any? %>
  <ul>
    <% @configuration.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<% entries = @configuration.configuration_entries %>
<!--[form:job_configuration]-->

<p><label for="configuration_name">name</label><br/>
<%= text_field 'configuration', 'name', :class =>  "form_input"  %></p>

<p><label for="configuration_comment">comment</label><br/>
<%= text_field 'configuration', 'comment', :class =>  "form_input" %></p>

<p><label for="configuration_active">active</label><br/>
<select id="configuration_active" name="configuration[active]"><option value="false">False</option><option value="true">True</option></select></p>

<% for entry in entries %>
  <p><label for="<%= "job_configuration.configuration_entries.#{entry.id}.value" %>"><%= entry.key%></label><br/>
  <%= text_field_tag "#{entry.id}", entry.value, :size => 80, :class =>  "form_input" %></p>
<% end %>

<p>Active Servers: <br>
<%= select "configuration", "servers", Server.find(:all).collect { |p| [p.name, p.id ] }, {:multiple => true, :size => 5 }, {:multiple => true, :size => 5 } %> </p><br>

<!--[eoform:jobconfiguration]-->

