<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= form_tag("/job_configurations/do_create_server", :method => "get") do %>

<h1>Add New Server Details</h1>

  <p><label for="name">name</label><br/>
  <%= text_field_tag 'name', 'localhost', :size => 80, :class => "form_input"  %></p>

  <p><label for="description">description</label><br/>
  <%= text_field_tag 'description', 'default connection to ', :size => 80, :class => "form_input"  %></p>

  <p><label for="address">address</label><br/>
  <%= text_field_tag 'address', "http://XXX.XXX.XXX.XXX:8083/", :size => 80, :class => "form_input"  %></p>
  
  <p><label for="service">service</label><br/>
  <%= text_field_tag 'service', "org.ucl.shared.NewPredInterface", :size => 80, :class => "form_input"  %></p>

  <p><%= submit_tag("Create Server", :class => "form_input")%></p>
  <p><%= link_to 'Return to previous page', :action => 'list'%></p>
<% end %>
