<table width="100%">
<tr>  
  <% for column in TestEntry.columns %>
    <th>
      <span style="font-size: x-large;"><%= link_to column.human_name, { :page => @page, 
        :order_by => "#{column.name} ASC"} %></span>
    </th>
  <% end %>
  <th>
    <span style="font-size: x-large;">Model Count</span>
  </th>
</tr>
<% for test_entry in @entries %>
  <tr style="background: <%= cycle("#ccc","") %>;">
      <% for column in TestEntry.columns %>
                <%if (column.name == "id") %>
          <td> <%= link_to(test_entry.id, { :action => 'show_entry', :id => test_entry.id }) %></td>
      <% else %>
        <td><%=h test_entry.send(column.name) %></td> 
      <% end %>
      <% end %>
    <td><%=h test_entry.test_models.count %></td>
  </tr>   
<% end %>
<%= will_paginate @entries%>
</table>
<br>
<%= link_to 'Start Data Import', :action => 'import_fasta' %><br>
<%= link_to 'New Test Set', :action => 'new_test_set' %><br>
<%= link_to 'Edit Test Sets', :action => 'edit_test_sets' %><br>



