<div style="background: <%= cycle(bgcolor,'#fff') %>; padding: 4px;">
  <table>
  <tr><td>AA:</td><td>Target sequence</td><td colspan="4"></td></tr>
  <tr><td>Pred:</td><td>Residue disorder prediction</td><td class="alignment">(.)</td><td>= ordered residue</td><td class="disorder">(*)</td><td>=Disordered residue</td></tr>
</table>
<br />

<% alignment_segments = log_result.data.split(/\n{2}/)
   fpr_statement = ""
   lower_statement = "" %>
<table>
<%  alignment_segments.each_with_index do |segment, index|
     if(segment =~ /^DISOPRED predictions/)
       fpr_statement = segment
     elsif segment =~ /^Asterisks/
       lower_statement = segment
     else
       lines = segment.split(/\n/)
       lines.each_with_index do |line, index2|
      
         if(index2 == 0)%>
        <tr>
        <% characters = line.split("")
           characters.each do |character|
             char_count = characters.length %>
          <td class="alignment"><%=  character %></td>
        <% end %>
        </tr>
      <% end %>

      <% if(index2 == 1) %>
        <tr>
        <% characters = line.split("")
           characters.each do |character|
             char_count = characters.length
             if character =~ /\*/ %>
              <td class="disorder"><%=  character %></td>
          <% else %>
              <td class="alignment"><%=  character %></td>
          <% end
           end %>
        </tr>
      <% end %>

      <% if(index2 == 2 || index2 == 3) %>
        <tr>
        <% characters = line.split("")
           characters.each do |character|
             char_count = characters.length %>
          <td class="alignment"><%=  character %></td>
        <% end
         end %>
       </tr>
    <% end
     end

   end %>
</table>
<br />
<%= fpr_statement %>
</div>