<% #
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<% printed = 0 %>
<!--<form name="genForm">-->
<%  @annotation_copy = @job_results
numberofrows = log_result.data.split(/\n/).length
line_count=0
for line in log_result.data.split(/\n/) 
 if line_count == 30
  break
  end
  line.chomp
  entries = line.split(/\s+/)
  print_ctrl = 0
  # test the stringency of the results filter and whether and alignment is available before setting it to print
  if result_filter =~ /GUESS/ && (@alignments.has_key?(entries[11]) || @alignments.has_key?(entries[9]))
  print_ctrl = 1
  end
  if result_filter =~ /LOW/ && entries[0] =~ /CERT|HIGH|MEDIUM|LOW/ && (@alignments.has_key?(entries[11]) || @alignments.has_key?(entries[9]))
  print_ctrl = 1
  end
  if result_filter =~ /MEDIUM/ && entries[0] =~ /CERT|HIGH|MEDIUM/ && (@alignments.has_key?(entries[11]) || @alignments.has_key?(entries[9]) )
  print_ctrl = 1
  end
  if result_filter =~ /HIGH/ && entries[0] =~ /CERT|HIGH/ && (@alignments.has_key?(entries[11]) || @alignments.has_key?(entries[9]))
  print_ctrl = 1
  end
  if result_filter =~ /CERT/ && entries[0] =~ /CERT/ && (@alignments.has_key?(entries[11]) || @alignments.has_key?(entries[9]))
  print_ctrl = 1
  end %>

<% if(print_ctrl == 1)

if printed == 0 %>
<% if numberofrows > 30 %>
<table>
	<tr>
		<td><b>Displaying only the top 30 results, full results can be found via the Downloads tab</b>
		<br/>
		</td>
	</tr>
</table>
<% end %>
<form name="form1">

	<table width="100%">
		<tr>
			<td bgcolor="#FFFFFF">
			<div id="genthTip">
				<font title="Thresholded GenTHREADER confidence levels"><b>Conf.</b></font>
			</div></td>
			<td bgcolor="#FFFFFF">
			<div id="genthTip">
				<font title="GenTHREADER Net Score"><b>Net Score</b></font>
			</div></td>
			<td bgcolor="#FFFFFF">
			<div id="genthTip">
				<font title="Statistical P-Value"><b>p-value</b></font>
			</div></td>
			<td bgcolor="#FFFFFF">
			<div id="genthTip">
				<font title="Pairwise energy sum"><b>PairE</b></font>
			</div></td>
			<td bgcolor="#FFFFFF">
			<div id="genthTip">
				<font title="Solvation energy sum"><b>SolvE</b></font>
			</div></td>
			<td bgcolor="#FFFFFF">
			<div id="genthTip">
				<font title="GenTHREADER pairwise alignment score"><b>Aln Score</b></font>
			</div></td>
			<td bgcolor="#FFFFFF">
			<div id="genthTip">
				<font title="Length of GenTHREADER pairwise alignment"><b>Aln Len</b></font>
			</div></td>
			<td bgcolor="#FFFFFF">
			<div id="genthTip">
				<font title="Length of the Target sequence"><b>Str Len</b></font>
			</div></td>
			<td bgcolor="#FFFFFF">
			<div id="genthTip">
				<font title="Length of the Query sequence"><b>Seq Len</b</font>
			</div></td>

			<% if gen_control == 2 %>
			<td bgcolor="#FFFFFF">
			<div id="genthTip">
				<font title="Start of region aligned to the target domain"><b>Domain Start</b></font>
			</div></td>
			<td bgcolor="#FFFFFF">
			<div id="genthTip">
				<font title="End of region aligned to the target domain"><b>Domain End</b></font>
			</div></td>
			<td bgcolor="#FFFFFF">
			<div id="genthTip">
				<font title="CATH domain code"><b>Domain Code</b></font>
			</div></td>
			<% end %>

			<td bgcolor="#FFFFFF">
			<div id="genthTip">
				<font title="Click button to view the alignment"><b>View Alignment</b></font>
			</div></td>
			<% if gen_control != 2 %>
			<td bgcolor="#FFFFFF">
			<div id="genthTip">
				<font title="Search SCOP for this PDB chain"><b>SCOP Codes</b></font>
			</div></td>
			<td bgcolor="#FFFFFF">
			<div id="genthTip">
				<font title="Search CATH for this PDB chain"><b>CATH Codes</b></font>
			</div></td>
			<% end %>
			<td bgcolor="#FFFFFF"<div id="genthTip"><font title="Link to PDBSum for this PDB chain"><b>Structure</b></font></div></td>
			<td bgcolor="#FFFFFF"><div id="genthTip"><font title="View CATH entry for this chain"><b>CATH Entry</b></font></div></td>
			</tr>
			<% end

			printed = 1 %>
			<tr style="padding: 3px; background: <%= cycle('#EEEEEE','#FFFFFF')%>">
			<%  entries.each_with_index do |entry, index|

			if (index == 9 || index == 77 ) && gen_control != 2 %>
			<td style="background: #FFFFFF">
			<% aln_string = ""
        ann_string = ""
        if gen_control != 2
          @annotation_copy.each do |anno_state|
            if gen_control == 0
              if anno_state.status_class == 49
                if(anno_state.content_name =~ /.+_(\d+)\.aln/)
                  name_number = $1
                  if name_number =~ /^#{line_count.to_s}$/
                    aln_string = url_for(:controller => "bio_serf", :action => "getresultattached", :id => anno_state.id)

                  end
                end
              end
            end

          end

          @annotation_copy.each do |anno_state|
            if gen_control == 0
              if anno_state.status_class == 48
                if(anno_state.content_name =~ /.+_(\d+)\.ann/)
                  name_number = $1
                  if name_number =~ /^#{line_count.to_s}$/
                    ann_string = url_for(:controller => "bio_serf", :action => "getresultattached", :id => anno_state.id)

                  end
                end
              end
            end
          end

          @annotation_copy.each do |anno_state|
            if gen_control == 1
              if anno_state.status_class == 73
                if(anno_state.content_name =~ /.+_(\d+)\.aln/)
                  name_number = $1
                  if name_number =~ /^#{line_count.to_s}$/
                    aln_string = url_for(:controller => "bio_serf", :action => "getresultattached", :id => anno_state.id)

                  end
                end
              end
            end
          end

          @annotation_copy.each do |anno_state|
            if gen_control == 1
              if anno_state.status_class == 72
                if(anno_state.content_name =~ /.+_(\d+)\.ann/)
                  name_number = $1
                  if name_number =~ /^#{line_count.to_s}$/
                    ann_string = url_for(:controller => "bio_serf", :action => "getresultattached", :id => anno_state.id)
                  end
                end
              end
            end
          end

        end %>
			<input class="form_input" type="button" onClick="loadNewAlignment('<%= aln_string  %>','<%= ann_string %>', '<%= entry %>');" value="Display <%= entry %> Alignment" />
			</td>
			<% @table_rows[entry] = "TRUE"
        pdb_code = entry.chop
        pdb_code = entry.chop
%>
			<td><a href="http://scop.mrc-lmb.cam.ac.uk/scop/pdb.cgi?pdb=<%= pdb_code %>" target="_blank">Search SCOP for <%= pdb_code %></a></td>
			<td><a href="http://www.cathdb.info/pdb/<%= pdb_code.chop %>" target="_blank">Search CATH for <%= pdb_code.chop %></a></td>
			<td style="background: #FFFFFF"><a href="http://www.ebi.ac.uk/thornton-srv/databases/cgi-bin/pdbsum/GetPage.pl?pdbcode=<%= pdb_code.chop %>" target="_blank" rel="http://www.cathdb.info/version/latest/molscript/<%= pdb_code %>/M" class="screenshot"><img src="http://www.cathdb.info/version/latest/molscript/<%= pdb_code %>/M" alt="pdbImage" class="pdb_image" /></a></td>
			<td><a href="http://bioinf.cs.ucl.ac.uk/function/?code=<%= pdb_code %>" target="_blank">CATH Summary</a></td>
			<% elsif index == 11 && gen_control == 2 %>
			<td><a href="http://www.cathdb.info/domain/<%= entry %>"><%= entry %></a></td>
			<td style="background: #FFFFFF"> <% aln_string = ""
        ann_string = ""

        @annotation_copy.each do |anno_state|
          if anno_state.status_class == 75
            if(anno_state.content_name =~ /.+_(\d+)\.aln/)
              name_number = $1
              if name_number =~ /^#{line_count.to_s}$/
                if @genome3d == 1
                  aln_string = url_for(:controller => "bio_serf", :action => "getresultattachedgenome3d", :id => anno_state.id)
                else
                  aln_string = url_for(:controller => "bio_serf", :action => "getresultattached", :id => anno_state.id)
                end
              end
            end
          end
        end

        @annotation_copy.each do |anno_state|
          if anno_state.status_class == 74
            if(anno_state.content_name =~ /.+_(\d+)\.ann/)
              name_number = $1
              if name_number =~ /^#{line_count.to_s}$/
                if @genome3d == 1
                  ann_string = url_for(:controller => "bio_serf", :action => "getresultattachedgenome3d", :id => anno_state.id)
                else
                  ann_string = url_for(:controller => "bio_serf", :action => "getresultattached", :id => anno_state.id)
                end
              end
            end
          end
        end %>
			<input class="form_input" type="button" onClick="loadNewAlignment('<%= aln_string  %>','<%= ann_string %>', '<%= entry %>');" value="Display <%= entry %> Alignment" />
			</td>
			<% @table_rows[entry] = "TRUE"
        pdb_code = entry.chop
        pdb_code = pdb_code.chop
        if gen_control == 2
        pdb_code = pdb_code.chop
        end %>
			<!--<td><a href="http://scop.mrc-lmb.cam.ac.uk/scop/pdb.cgi?pdb=<%= pdb_code %>" target="_blank">Search SCOP for <%= pdb_code %></a></td>-->
			<td style="background: #FFFFFF"><a href="http://www.ebi.ac.uk/thornton-srv/databases/cgi-bin/pdbsum/GetPage.pl?pdbcode=<%= pdb_code %>" target="_blank" rel="http://www.cathdb.info/version/latest/molscript/<%= pdb_code %>/M" class="screenshot"><img src="http://www.cathdb.info/version/latest/molscript/<%= entry %>/M" alt="pdbImage" class="pdb_image" /></a></td>
			<td><a href="http://bioinf.cs.ucl.ac.uk/function/?code=<%= entry %>" target="_blank">CATH Summary</a></td>
			<% else
			if entry =~ /CERT/ %>
			<td bgcolor="#00f000"><span id="genthTip"><a href="#" title="p-value < 0.0001"><%= entry %></a></span></td>
			<% elsif entry =~ /HIGH/ %>
			<td bgcolor="#00f000"><span id="genthTip"><a href="#" title="p-value < 0.001 & > 0.0001"><%= entry %></a></span></td>
			<% elsif entry =~ /MEDIUM/ %>
			<td bgcolor="#ffaa00"><span id="genthTip"><a href="#" title="p-value < 0.01 & > 0.001"><%= entry %></a></span></td>
			<% elsif entry =~ /LOW/ %>
			<td bgcolor="#f00000"><span id="genthTip"><a href="#" title="p-value < 0.1 & > 0.01"><%= entry %></a></span></td>
			<% elsif entry =~ /GUESS/ %>
			<td bgcolor="#ff0000"><span id="genthTip"><a href="#" title="p-value > 0.1"><%= entry %></a></span></td>
			<% else %>
			<td><%= entry %></td>
			<% end
			end
			end %>
		</tr>
		<% end

		line_count+=1
		end %>

	</table>
	<%  if(printed == 0) %>
	<h2>There were no significant results for your sequence.</h2>
	<% end %>

</form>