<%= render :partial => "layouts/header_top" %>
        <% if(! @service_name.nil?) %><title><%= h(@service_name) %> : <%= controller.action_name %></title><% end %>
<%= render :partial => "/layouts/header_region" %>
<%= render :partial => "/layouts/main_navigation" %>

<% if(! @service_name.nil?) %>
<%= render :partial => "/layouts/#{@service_name}" %>
<% end %>
<%= render :partial => "/layouts/navigation_footer" %>
<%= render :partial => "/layouts/pre_content" %>
                <p style="color: green"><%= flash[:notice] %></p>
                <!--<% if h(@service_name) =~ /psipred/ %>
                <h1><font color="red">pDomTHREADER is temporarily unavailable.</font></h1>
                <%end%>-->
                <%= yield  %>
<%= render :partial => "/layouts/footer" %>
