<head>
  <title>Report for <%= @report.name%></title>
</head>
<body>
<strong>Binary: </strong><%= @report.binary%><br>
<strong>Binary Type: </strong><%= @report.get_bin_name%><br>
<strong>Description: </strong><%= @report.description%><br>
<strong>Created at: </strong><%= @report.created_at%><br>
<strong>Last Run: </strong><%= @report.last_run.nil? ? "never" : @report.last_run %><br>
<strong>Reference Model: </strong><%= ModelType.find(@report.ref_model_type_id).name%><br>
<strong>Comparison Models: </strong><br>
<% for model_type in @report.model_types%>
            <%= "#{model_type.name} of size #{model_type.test_models.count}"%><br>
<%end%>
<br><br>
<%= button_to "Run Report", { :action => 'do_run_report', :id => @report.id } %>
<br>
<% if (@elements.any?)%>
      <% table(@elements, ["Model Name", "Model Type", "Score", "Data"]) do |element, foo| -%>
    <tr style="background: <%= foo%>;">
        <td><%= link_to element.test_model.test_entry.name, { :action => 'show_entry', :id => element.test_model.test_entry.id, :controller => 'data_manager' }%></td>
        <% if (!element.test_model.job.nil?) %>
          <td><%= link_to element.test_model.model_type.name, { :action => 'status', :id => element.test_model.job_id, :controller => '/bio_serf' }%></td>
        <% else%>
          <td><%= element.test_model.model_type.name%></td>
        <%end%>
        <td><%= element.score%></td>
        <td><pre><%= element.data%></pre></td>
      </tr>
    <% end -%>

  <%end%>
  </body>