<%= error_messages_for :user %>
<% form_for :user do |f| -%>
<p><label for="login">Login</label><br/>
<%= f.text_field :login %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><label for="user_class">Select user class</label><br/>
<%= f.select(:user_class,["0","1","2","3","4","5","6","7","8","9","10"]) %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end %>
